*{
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-image: url(/scr/imgs/background.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    font-weight: lighter;
}

.inner-content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameContainer{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 78, 49);
    width: 700px;
    height: 600px;
    margin: 10px;
}

.c1Components {
    width: 250px;
    height: 30px;
    margin: 30px;
}

.gameContainer label{
    color:white;
}
.mainGame {
    display: inline-block;
}

.gameContent {
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}